useDynLib(networkPooledTesting, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(Matrix)
import(igraph)
import(parallel)
importFrom(cluster,pam)
importFrom(dplyr,near)
importFrom(graphics,par)
importFrom(intergraph,asIgraph)
importFrom(methods,as)
importFrom(rARPACK,eigs)
importFrom(stats,median)
importFrom(stats,rbinom)
importFrom(stats,runif)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
